# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages thar data scientist use
* List commonly used libraries used by data scientists
* List data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. tensorflow
2. Pandas
3. Numpy

|Data Science Tools|
------------------
|Rstudio|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Jorge Nogueras